:root {
    --bg-color: rgb(49, 46, 46);
    --font: san serif ;
    --margin: 2px;
    --padding: 2rem;
    --color: rgb(202, 196, 196);
}

body {
    color: var(--color);
    background-color: var(--bg-color);
    align-items: center;
}
a {
    color:var(--bg-color);
    margin: var(--margin);
}
nav {
    padding: var(--padding);
    background-color: var(--color);
}
.search {
    padding-top: var(--padding);
}
button:hover {
    cursor: pointer;
}